// breakpoints
$bp-5s-x = 320px
$bp-5s-y = 568px
$bp-ipad-x = 768px
$bp-ipad-y = 1024px
$bp-phone-max = $bp-ipad-x - 1
$bp-desktop-min = 1366px

// z-indexes
$z-warning = 100
$z-popups = $z-warning + 10

// colors
$color-black = #000000;
$color-white = #ffffff;
$color-success = #1e854b;
$color-danger = #ff0000;
$color-danger-dark = #e30611;
$color-grey = #cecece;
$color-grey-text = #979797;
$color-grey-dark = #b1b1b1;
$color-sunny = #f3b240;
$color-fb = #3b5998
$color-vk = #45668e

// landing
$landing-header-height = 80px
$landing-red-color = #ff5754
$landing-blue-color = #007cff
$landing-header-z = $z-warning - 1

// warning widget
$warning-height = 79px

// common-popup
$common-popup-pad-x = 90px
$common-popup-pad-x-m = 52px

// font-size

$font-size-base = 16px
